<div class="container" id='single-page'>
  <h2 class="section-heading text-center">Upload your selfie</h2>
  <div class="row justify-content-center">
    <div class="col-4 col-offset-1">
      <%= image_tag @visit.photo_file, class: 'img-fluid'  %>
    </div>
    <div class='col-3'>

    </div>
  </div>
