<section class="features" id="landing">
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12">
          <br/><br/>
          <br/><br/>

          <h1 class='red'>Age can determine their destiny.</h1>
          <br/><br/>
          <h2>Help us determine it with dignity!</h2>
          <br/>
           <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Get Started</a>
        </div>
        <div class="col-md-8 col-xs-12">
          <%= image_tag 'landing.jpeg', class: "img-responsive landing-img"  %>
        </div>
        </div>
      </div>
    </div>

  </div>
</section>
