<section class="download bg-primary" id="features">
  <div class="section-heading text-center">
    <h2>Upload your selfie and get your age</h2>
  </div>
  <div id='predicted-age'>
    <div class="row">
      <div class="col-6">
        <div class='pull-right'>
          <%= simple_form_for @visit,  url: photo_visits_path, method: :post, remote: true, html: { id: 'profile-image-form' } do |i| %>
        <%#= i.label :image do %>
        <%#= concept(Image::Cell,@user,size: :large,current_user: current_user) %>
        <%# end %>
          <%= i.file_field :photo_file, class: 'profile-image-upload' %>
          <%= i.hidden_field :uuid %>
          <br/>
          <div id="loading-text">
            <b>...loading...</b>
          </div>
          <%= i.submit %>
          <% end %>
        </div>
      </div>
      <div class='col-6'>
        <ul class='pull-right'>
          <li class='lead text-muted'>headshot</li>
          <li class='lead text-muted'>no glasses</li>
          <li class='lead text-muted'>no head covering</li>
          <li class='lead text-muted'>no gadgets</li>
          <li class='lead text-muted'>good lighting</li>
          <li class='lead text-muted'>square aspect</li>
        </ul>
      </div>
    </div>
  </div>
</section>
