<%= render partial: 'visits/landing' %>

<section class="download bg-primary text-center" id="anchor">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Tell us about yourself</h2>
        <%= @visit.inspect %>
      </div>
    </div>
  </div>
</section>
