<section class="contact bg-primary">
  <div class="container">

    <h1>Who we are?</h1>
    <p>The Advantage Humanitarian project originated at the Humanitarian Hackathon at CERN in Geneva on the 6th-8th October 2017.</p>
    <br/>
    <h1>Why are we doing this?</h1>
    <p>The UN Convention on the Rights of the Child (CRC) defines a child as any human being under the age of eighteen years unless the majority is attained earlier under the applicable legislation (Article 1). The CRC and many national legal systems provide adequate protection and specific rights for minors in many areas. The recognition of the minority of a person is therefore essential to have access to these specific rights and to enhanced protection.</p>

    <p>However, many children do not have recognized official documents to establish their date of birth (due to deficiencies in the registration of births in their country of origin, loss of identity papers or recognition by foreign authorities of their official documents). These children are unlikely to be considered as adults by the authorities, which can have dramatic consequences on the adequacy of their care.
    </p>

    <p>If a minor is considered to be an adult, the risks are all the higher or even inevitable in relation to such risks incurred by adults, whether they are subjected to inappropriate treatment in procedures that do not take into account situation, age or maturity: "In the absence of documents attesting to their age, children are more vulnerable to enrollment in the armed forces, dangerous forms of work or early marriage.</p>

    <p>  They are also more likely to be treated as adults, rather than as children or minors, in judicial proceedings or seeking international protection as asylum-seekers ". These various situations can have irreversible negative consequences to the detriment of respect for the rights of the child, his physical development and his psychological well-being. Through its presence on the ground and the projects put in place, Terre des hommes is directly witness to these situations at risk for young people.</p>

    <br/>

    <h1>What are we doing with your picture and information?</h1>
    <p>Your data (pictures, month of birth and country of origin) will be stored in a secure network and will in no case be shared with any third party. The information provided will not allow tracking your information back to you.</p>


</section>
