@import "bootstrap";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "download.scss";
@import "features.scss";
@import "cta.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";
@import "font-awesome-sprockets";
@import "font-awesome";

.landing-img {
  max-width: 80%;
}

.black {
  color: black;
}

.red {
  color: red;
}

input[type="radio"], input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 20px;
  margin-right: 5px;
}
