<footer>
  <div class="container">
    <p>&copy; 2017 AdvantAge.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
</footer>
